/* Loading page */

.loadingItemPage
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
}

.loadingMessageBox
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Item page */

.itemPage
{
    
}