body
{
  /* min-height: 100vh; */
  /* margin: 0px; */
  /* background: linear-gradient(0deg, #006325 0%, #097929 11%, #7c916a 100%); */
  background: #051c00 !important;
  color: #c2ffaf !important;
}

::-webkit-scrollbar
{
    width: 10px;
}

::-webkit-scrollbar-track
{
    background: #0f2b0f;
}

::-webkit-scrollbar-thumb
{
    background: #003913;
}

::-webkit-scrollbar-thumb:hover
{
    background: #003613;
}